# Prerequisites
# Compiled Object files
# Precompiled Headers
*.mqh
# Precompiled Files
*.mq5
*.mq4
# Compiled Dynamic libraries
# Fortran module files
# Compiled Static libraries
# Executables
*.ex5
*.ex4
# TEXT
*.txt
